<footer class="bg-gradient-black-bottom-transparent pb-30px">
            <div class="container">
                <div class="row footer-bottom border-top border-color-transparent-white-light pt-30px align-items-center">
                    <div class="col-lg-9 text-center text-lg-start">
					<ul>
					<li><a href="/online-casino-devices">Onlayn kazinonun quruluşunu anlamaq</a></li>
					<li><a href="/myths-about-strategies">Strategiyalar barədə miflər və yanlış təsəvvürlər</a></li>
					<li><a href="/bankroll-management">Bankrol idarəetməsi</a></li>
					<li><a href="/slot-betting-strategies">Slotlarda mərc strategiyaları</a></li>
					<li><a href="/roulette-strategies">Rulet strategiyaları</a></li>
					<li><a href="/blackjack-strategies">Blackjack strategiyaları</a></li>	
					<li><a href="/live-casino-strategies">Live-kazino — strategiyaların xüsusiyyətləri</a></li>	
					<li><a href="/working-strategies">Strategiya nə vaxt işləyir, nə vaxt işləməz</a></li>					
					</ul>
					<br/>
                        <span class="fs-14 d-block lh-22">Copyright © {{ 'now' | date('Y') }} «Yohohobet».</span>
                    </div>
 
                </div>
            </div> 
        </footer>
		
		